<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="b-example-divider"></div>

<div th:fragment="footer" class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="/book/add" class="nav-link px-2 text-body-secondary">Добавить товар</a></li>
            <li class="nav-item"><a href="/cart" class="nav-link px-2 text-body-secondary">Корзина</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Академия АЙТИ,
            "Разработка бизнес-приложений в среде Java и Spring", Домашнее задание 32, Студент Коновченко А.М.</p>
    </footer>
</div>
<div class="b-example-divider"></div>
</html>